apiVersion: 1

datasources:
  - name: 'Logging with Loki'
    type: loki
    access: proxy
    url: http://loki:3100
    basicAuth: false
    isDefault: false
    editable: true
  - name: 'Metrics with Prometheus'
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
    editable: false
  - name: 'Traces with Tempo'
    type: tempo
    access: proxy
    url: http://tempo:3100
    isDefault: false
