basePath: /api/v1/users
definitions:
  user.SignInParam:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  user.SignUpParam:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
    type: object
  user.UserResponse:
    properties:
      created_at:
        type: string
      email:
        type: string
      id:
        type: string
      name:
        type: string
      updated_at:
        type: string
    type: object
  user.UserWithTokenResponse:
    properties:
      token:
        type: string
      user:
        $ref: '#/definitions/user.UserResponse'
    type: object
host: localhost:8081
info:
  contact:
    email: support@example.com
    name: API Support
    url: https://github.com/example
  description: This is the API documentation for the User Application.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: User Application API
  version: "1.0"
paths:
  /auth/signin:
    post:
      consumes:
      - application/json
      description: Log in a user and obtain an authentication token
      parameters:
      - description: User sign-in payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.SignInParam'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.UserWithTokenResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Sign In
      tags:
      - Auth
  /auth/signup:
    post:
      consumes:
      - application/json
      description: Register a new user
      parameters:
      - description: User sign-up payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.SignUpParam'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/user.UserResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: User Sign Up
      tags:
      - Auth
swagger: "2.0"
