{{ define "content" }}

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-6">
      <h4 class="page-title">Edit a Transaction</h4>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item">
            <a href="/dashboard/transactions">Transaction</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="col-6">
      <div class="text-right">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-body">
      <form action="/dashboard/transactions/{{ .transaction.ID }}/edit" method="POST">

        <div class="form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            name="amount"
            placeholder="Enter amount"
            required
            class="form-control"
            value="{{ .transaction.Amount }}"
          />
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select
            name="status"
            id="status"
            class="form-control"
            required
          >
            <option value="PENDING" {{ if eq .transaction.Status "PENDING" }}selected{{ end }}>PENDING</option>
            <option value="PAID" {{ if eq .transaction.Status "PAID" }}selected{{ end }}>PAID</option>
            <option value="FAILED" {{ if eq .transaction.Status "FAILED" }}selected{{ end }}>FAILED</option>
            <option value="EXPIRED" {{ if eq .transaction.Status "EXPIRED" }}selected{{ end }}>EXPIRED</option>
            <option value="CANCELED" {{ if eq .transaction.Status "CANCELED" }}selected{{ end }}>CANCELED</option>
          </select>
        </div>
        <div class="form-group">
          <label for="reference">Reference</label>
          <input
            type="text"
            name="reference"
            placeholder="Enter reference"
            disabled
            class="form-control"
            value="{{ .transaction.Reference }}"
          />
        </div>
        <div class="form-group">
          <label for="user">User</label>
          <input
            type="text"
            name="user"
            disabled
            class="form-control"
            value="{{ .transaction.UserName }}"
          />
        </div>
        <div class="form-group">
          <label for="campaign">Campaign</label>
          <input
            type="text"
            name="campaign"
            disabled
            class="form-control"
            value="{{ .transaction.CampaignTitle }}"
          />
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ end }}