<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{payment.edit.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{payment.edit.headline}]]</h1>
        <div>
            <a class="btn btn-secondary" th:href="@{/payments}">[[#{payment.edit.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('payment')}"/>
    <form method="post" novalidate="" th:action="${requestUri}">
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='id', disabled=true)}"/>
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='orderId', required=true)}"/>
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='customerId', required=true)}"/>
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='amount', required=true)}"/>
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='method')}"/>
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='status', type='select', required=true)}"/>
        <div th:replace="~{fragments/forms::inputRow(object='payment', field='paidAt', type='datetime-local', required=true)}"/>
        <input class="btn btn-primary mt-4" th:value="#{payment.edit.headline}" type="submit"/>
    </form>
</div>
</body>
</html>
