{{ define "content" }}

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-6">
      <h4 class="page-title">Edit a Campaign</h4>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
          <li class="breadcrumb-item">
            <a href="/dashboard/campaigns">Campaign</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>
      </nav>
    </div>
    <div class="col-6">
      <div class="text-right">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="card mb-4">
    <div class="card-body">
      <form action="/dashboard/campaigns/{{ .campaign.ID }}/edit" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            name="title"
            placeholder="Enter title"
            required
            class="form-control"
            value="{{ .campaign.Title }}"
          />
        </div>
        <div class="form-group">
          <label for="short_description">Short Description</label>
          <input
            type="text"
            name="short_description"
            placeholder="Enter short description"
            required
            class="form-control"
            value="{{ .campaign.ShortDescription }}"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
            name="description"
            cols="30"
            rows="10"
            placeholder="Enter description"
            required
            class="form-control"
          >{{ .campaign.Description }}</textarea>
        </div>
        <div class="form-group">
          <label for="goal_amount">Goal Amount</label>
          <input
            type="number"
            name="goal_amount"
            placeholder="Enter goal amount"
            required
            class="form-control"
            value="{{ .campaign.GoalAmount }}"
          />
        </div>
        <div class="form-group">
          <label for="current_amount">Current Amount</label>
          <input
            type="number"
            name="current_amount"
            placeholder="Enter current amount"
            required
            class="form-control"
            value="{{ .campaign.CurrentAmount }}"
          />
        </div>
        <div class="form-group">
          <label for="backer_count">Backer Count</label>
          <input
            type="number"
            name="backer_count"
            placeholder="Enter backer count"
            required
            class="form-control"
            value="{{ .campaign.BackerCount }}"
          />
        </div>
        <div class="form-group">
          <label for="perks">Perks</label>
          *(should use coma (,))
          <input
            type="text"
            name="perks"
            placeholder="Enter perks (comma separated)"
            required
            class="form-control"
            value="{{ .campaign.Perks }}"
          />
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{{ end }}