<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="invoiceForm">
    <h1 class="mb-4 text-xl md:text-2xl"
        th:text="${invoice.id == null ? #messages.msg('invoice.index.create') : #messages.msg('invoice.index.edit')}">
    </h1>

    <form method="post"
          th:action="${invoice.id == null ? '/dashboard/invoices' : '/dashboard/invoices/' + invoice.id}"
          th:object="${invoice}">
        <div class="rounded-md bg-slate-100 p-4 md:p-6">
            <div class="flex flex-col gap-4">

                <div class="form-control w-full gap-2"><span
                        class="label-text">[[#{invoice.index.choosecustomer}]]</span>
                    <label class="input input-bordered flex items-center gap-2" for="customer">
                        <i class="fa-regular fa-user"></i>
                        <select class="grow cursor-pointer" id="customer" name="customer">
                            <option value="">[[#{invoice.index.selectcustomer}]]</option>
                            <th:block th:each="customer : ${customers}">
                                <option th:selected="${invoice != null and invoice.customer != null and invoice.customer == customer.id}"
                                        th:value="${customer.id}">
                                    <span th:text="${customer.name}"></span>
                                </option>
                            </th:block>
                        </select>
                    </label>
                </div>

                <div class="form-control w-full gap-2">
                    <span class="label-text">[[#{invoice.index.amount}]]</span>
                    <label class="input input-bordered flex items-center gap-2" for="amount">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <input class="grow" id="amount" name="amount" placeholder="Enter in USD"
                               th:value="${invoice != null ? invoice.amount : ''}"
                               type="number"/>
                    </label>
                </div>
                <div th:replace="~{fragments/formErrors :: fieldErrors('amount')}"></div>

                <div class="form-control w-full gap-2">
                    <span class="label-text">[[#{invoice.index.duedate}]]</span>
                    <label class="input input-bordered flex items-center gap-2" for="dueDate">
                        <i class="fa-regular fa-calendar"></i>
                        <input class="grow" id="dueDate" name="dueDate" placeholder="4/5/2024"
                               th:value="${invoice != null ? invoice.dueDate : ''}"
                               type="text"/>
                    </label>
                </div>
                <div th:replace="~{fragments/formErrors :: fieldErrors('dueDate')}"></div>

                <div class="form-control w-full gap-2">
                    <span class="label-text">[[#{invoice.index.status}]]</span>
                    <div class="input input-bordered flex items-center gap-2">
                        <div class="flex gap-4">
                            <div class="flex items-center">
                                <input class="radio" id="pending" name="status"
                                       th:checked="${invoice != null and invoice.status == 'pending'}" type="radio"
                                       value="pending"/>
                                <label class="ml-2 badge badge-sm badge-ghost p-3 gap-3" for="pending">[[#{invoice.index.pending}]]
                                    <i class="fa-regular fa-clock"></i></label>
                            </div>
                            <div class="flex items-center">
                                <input class="radio" id="paid" name="status"
                                       th:checked="${invoice != null and invoice.status == 'paid'}" type="radio"
                                       value="paid"/>
                                <label class="ml-2 badge badge-sm badge-success p-3 gap-3 text-white" for="paid">[[#{invoice.index.paid}]]
                                    <i class="fa-regular fa-circle-check"></i></label>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:replace="~{fragments/formErrors :: fieldErrors('status')}"></div>

                <div class="mt-6 flex justify-end gap-4">
                    <a class="btn btn-ghost" th:href="@{/dashboard/invoices}">[[#{invoice.index.cancel}]]</a>
                    <button class="btn btn-primary"
                            th:text="${invoice.id == null ? #messages.msg('invoice.index.create') : #messages.msg('invoice.index.edit')}"
                            type="submit">
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

</body>
</html>