<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Login &middot; BackerHub</title>
    <script type="text/javascript">
      var host = "backerhub";
      if (
        host === window.location.host &&
        window.location.protocol !== "https:"
      ) {
        window.location.protocol = "https:";
      }
    </script>

    <!-- Meta Data -->
    <meta name="description" content="CMS BackerHub admin panel." />
    <meta content="CMS BackerHub" property="og:site_name" />
    <meta content="CMS BackerHub" property="og:title" />
    <meta content="website" property="og:type" />
    <meta content="CMS BackerHub admin panel." property="og:description" />
    <meta content="/images/logo.png" property="og:image" />
    <meta
      name="keywords"
      content="backerhub, admin, theme, panel, administration, material"
    />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@backerhub" />
    <meta name="twitter:creator" content="@backerhub" />
    <meta name="twitter:title" content="BackerHub" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/assets/style/vendor/library.min.css" />
    <link
      rel="stylesheet"
      href="/assets/style/vendor/jqueryui-flat/jquery-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/assets/style/core/style.min.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
      rel="stylesheet"
    />

    <!-- JavaScript Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  </head>

  <body id="loginPage" class="blank-page">
    
    <!-- Loading Screen -->
    <div class="loading">
      <div class="loading-center">
        <img src="/assets/images/loading/map.gif" alt="Loading" />
      </div>
    </div>

    <!-- Main Content -->
    {{ template "content" . }}

    <!-- Notifications -->
    <script type="text/javascript">
      // Pass Go template variables into JavaScript
      var errorMessage = "{{ .error }}";
      var successMessage = "{{ .success }}";

      // Show error message if exists
      if (errorMessage) {
        toastr.error(errorMessage);
      }

      // Show success message if exists
      if (successMessage) {
        toastr.success(successMessage);
      }
    </script>

    <!-- Additional Scripts -->
    <script
      src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
      integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script src="/assets/scripts/vendor/bootstrap.min.js"></script>
    <script src="/assets/scripts/vendor/library.min.js"></script>
    <script src="/assets/scripts/core/main.js"></script>
    
  </body>
</html>
