<!DOCTYPE HTML>
<html layout:decorate="~{layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>[[#{order.list.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{order.list.headline}]]</h1>
        <div>
            <a class="btn btn-primary ms-2" th:href="@{/orders/add}">[[#{order.list.createNew}]]</a>
        </div>
    </div>
    <div th:if="${orders.empty}">[[#{order.list.empty}]]</div>
    <div class="table-responsive" th:if="${!orders.empty}">
        <table class="table table-striped table-hover align-middle">
            <thead>
            <tr>
                <th scope="col">[[#{order.id.label}]]</th>
                <th scope="col">[[#{order.customerId.label}]]</th>
                <th scope="col">[[#{order.productId.label}]]</th>
                <th scope="col">[[#{order.quantity.label}]]</th>
                <th scope="col">[[#{order.totalAmount.label}]]</th>
                <th scope="col">[[#{order.status.label}]]</th>
                <th scope="col">[[#{order.orderAt.label}]]</th>
                <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td>[[${order.id}]]</td>
                <td>[[${order.customerId}]]</td>
                <td>[[${order.productId}]]</td>
                <td>[[${order.quantity}]]</td>
                <td>[[${order.totalAmount}]]</td>
                <td>[[${order.status}]]</td>
                <td>[[${order.orderAt}]]</td>
                <td>
                    <div class="float-end text-nowrap">
                        <a class="btn btn-sm btn-secondary" th:href="@{/orders/edit/{id}(id=${order.id})}">[[#{order.list.edit}]]</a>
                        <form class="js-submit-confirm d-inline"
                              method="post" th:action="@{/orders/delete/{id}(id=${order.id})}"
                              th:data-confirm-message="#{delete.confirm}">
                            <button class="btn btn-sm btn-secondary" type="submit">[[#{order.list.delete}]]</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
