server:
  port: 8080
  shutdown: graceful

spring:
  application:
    name: grpc-server
  datasource:
    url: ${JDBC_DATABASE_URL:jdbc:h2:mem:bookstore}
    username: ${JDBC_DATABASE_USERNAME:sa}
    password: ${JDBC_DATABASE_PASSWORD:}
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        id:
          new_generator_mappings: true
  grpc:
    server:
      port: 9090                # The gRPC server port (default 9090)
      address: 0.0.0.0          # Bind to all network interfaces
      reflection-service-enabled: true  # Enables reflection for tools like Evans or BloomRPC
      security:
        enabled: false          # Disable TLS for local development
error:
  handling:
    http-status-in-json-response: true
    exception-logging: NO_LOGGING
    full-stacktrace-http-statuses: 5xx
    log-levels:
      5xx: ERROR
logging:
  level:
    root: INFO
    net.devh.boot.grpc: DEBUG # Enable debug logs for gRPC startup
    io.grpc: INFO
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics # Expose common actuator endpoints